.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Поверх всего */
}

.loader {
  width: 24px; /* w-6 */
  height: 24px; /* h-6 */
  border: 4px dotted #3b82f6; /* border-4 border-blue-500 border-dotted */
  border-radius: 50%; /* rounded-full */
  animation: spin 1s linear infinite; /* animate-spin */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
